section {
  height: 100%;
}

.navbar {
  margin-bottom: 0;
}

#home {
  background-color: blue;
  display: flex;
  font-size: 15px;
  color: white;
}

#home > :first-child div {
  flex: 0 0 50%;
}

#home > :first-child > img {
  height:100%;
}

#home > :nth-child(2) div {
  flex: 1;
}

#home button {
  color: black;
}

#about {
  background-color: red;
  font-size: 15px;
  color: white;
}

#about > :first-child > img {
  height: 50%;
  padding: 25px 100px 25px 100px;
  width: 100%;
}

#team {
  background-color: green;
}

#services {
  background-color: yellow;
  display: flex;
}

#services > :first-child {
  flex: 0 0 50%;
  height: 100%;
  padding: 100px;
}

#services > :nth-child(2) {
  flex: 1;
  height: 100%;
  padding: 100px;
}

#services > :first-child button {
  background-color: white;
  height: 100%;
  width: 100%;
}

#services > :nth-child(2) button {
  background-color: black;
  height: 100%;
  width: 100%;
}

#contact {
  background-color: orange;
}
